export(generate_palette)
export(scale_colour_accessible)
export(scale_color_accessible)
export(scale_fill_accessible)
export(simulate_cvd)
export(out_of_gamut_excursion)
export(ciede2000)
export(contrast_ratio)
export(hex_to_srgb)
export(srgb_to_hex)
export(hex_to_oklch)
export(oklch_to_hex)
export(max_chroma)
S3method(print, palettecore_result)
importFrom(stats, setNames)
importFrom(utils, modifyList)
